.movies-container {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border-radius: 1rem;;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 25px;
    background-color: rgba(255,255,255,.75);
}

.movie-card {
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    width: 450px;
    padding: 15px;
}

.movie-card:hover {
    background-color: white;
}

.select-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-top: -10px;
    padding: 15px;
}

button, select {
    border-radius: 1rem;    padding-left: 10px;
    padding-right: 10px;
}

button {
    margin-left: 25px;
}